.download{
    a{
        margin: 0 0.2rem;
        img{
            filter: contrast(40%);
            transition: all 0.5s ease-in-out;

            &:hover{
                filter: contrast(1);
            }
        }
    }
}